$background: #282828;
$foreground: #FAFAF9;

$color0: #4D4D4D;
$color1: #56616E;
$color2: #5F7F86;
$color3: #887B76;
$color4: #688E64;
$color5: #89A3BC;
$color6: #B4B4B3;
$color7: #EFEFEE;
$color8: #A7A7A7;
$color9: #738192;
$color10: #7FAAB3;
$color11: #B6A49D;
$color12: #8BBD85;
$color13: #B7D9FA;
$color14: #F0F0EE;
$color15: #EFEFEE;

$bg-base: $background;
$bg-card: $color0;
$bg-deep: $color0;
$text: $foreground;
$text-dim: $color7;
$text-faint: $color8;
$accent: $color4;
$accent-subtle: rgba($color4, 0.5);

$danger: $color1;
$warn: $color3;
$dot: $color8;
$mono: "JetBrainsMono Nerd Font", monospace;
