$background: #141409;
$foreground: #e6e3d1;

$color0: #141409;
$color1: #ffb4ab;
$color2: #c8cb82;
$color3: #b5cea4;
$color4: #f5b0eb;
$color5: #474a0e;
$color6: #374c2d;
$color7: #cbc7ad;
$color8: #949279;
$color9: #93000a;
$color10: #c8cb82;
$color11: #b5cea4;
$color12: #683364;
$color13: #e4e89b;
$color14: #d0eabf;
$color15: #e6e3d1;

$bg-base: $background;
$bg-card: #1d1c11;
$bg-deep: #212015;
$text: $foreground;
$text-dim: $color7;
$text-faint: $color8;
$accent: #f5b0eb;
$accent-subtle: rgba(245, 176, 235, 0.5);

$danger: #ffb4ab;
$warn: #c8cb82;
$dot: $color8;
$mono: "JetBrainsMono Nerd Font", monospace;
