// ════════════════════════════════════════════════════════
// AGS v2 (with dynamic colors)
// ════════════════════════════════════════════════════════
@use "colors" as *;
@use "sass:color";
@use "cheatsheet";

@use "styles/animations";
@use "styles/sidebar";
@use "styles/workspaces";
@use "styles/controls";
@use "styles/clock";
@use "styles/media";
@use "styles/sysmon";
@use "styles/osd";
@use "styles/cc";
@use "styles/launcher";
@use "styles/ai";

* {
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.window {
  transition-duration: 150ms;
}
.osd {
  transition-duration: 100ms;
}
